.indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px; /* Размер индикатора */
    height: 60px; /* Размер индикатора */
    background: black; /* Черный */
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
    transform: translate(-50%, -50%); /* Центрируем индикатор по иконке */
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 black; /* Черный */
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 black; /* Черный */
}
